/*
 * styles defined and specified by different theme, like color, background, borders etc.
 */
@import "../imports/common";

.app.default {
  @import "common/leftNav";

  .grid-view-item {
    background: lightskyblue;
    color: dimgray;
    box-shadow: 10px 5px rgba(0,0,0,0.1);
  }
}

