/*
 * styles override and specified by different theme, like color, background, borders etc.
 */
@import "library";
@import "../imports/custom";

.app.default {

  .btn-primary {
     background: @common-background;
     color: @common-background-color !important;
     border-color: @common-border-color;
  }

  //Customize ngGrid styles
  div[ng-grid] {
    &.ngGridDiv {
      border: @common-border;
    }

    .ngTopPanel {
      background: @common-background;
      color: @common-background-color;
    }

    .ngRow.selected {
      background-color: lightsteelblue !important;
    }

    .ngRow.odd {
      background-color: #efefef;
    }

    .ngRow.even {
      background-color: #fefefe;
    }
  }

  .nav-tabs {
    & > li.active {
      & > a {
        color : bisque;
        background: @common-background;
        &:hover{
          color : bisque;
          background: @common-background;
        }
        &:focus{
          color : bisque;
          background: @common-background;
        }
      }
    }
  }
}

