<div class="action ngCellText" ng-class="col.colIndex()" data-toggle="buttons">
        <button class="btn btn-success btn-xs" ng-click="upgradeModule(row.entity)"><i class="fa fa-upload" title="Upgrade"></i></button>
        <button class="btn btn-danger btn-xs" ng-click="uninstallModule(row.entity)"><i class="fa fa-minus" title="Uninstall"></i></button>
    <!--label title="Delete Job" class="btn btn-default btn-xs action " ng-click="$event.stopPropagation();">
        <button type="radio" name="style-a2" id="style-a3" ng-click="jobDelete([row.entity]);"></button>
        <i class="fa fa-trash-o action"></i>
    </label-->
</div>