@COLOR_ERROR: #F9906F;
@COLOR_OK: #A4E2C6;
@COLOR_WARNING: #EEDEB0;
@COLOR_VIP: #3B2E7E;
@COLOR_TEXT: #666;

.app.default {
  .beacon {

    .cellToolTip {
      overflow: visible;
    }

    .error {
      background: @COLOR_ERROR

    }

    .warning {
      background: @COLOR_WARNING
    }

    .display-card {
      margin: 15px;
      background: rgba(200, 200, 200, 0.1);
      padding: 15px;
      color: dimgray;
      border-radius: 1em;
      box-shadow: 10px 5px rgba(0,0,0,0.1);
    }

    .grid-item {
      margin: 15px;
      background: rgba(200, 200, 200, 0.1);
      padding: 15px;
      color: dimgray;
      border-radius: 1em;
      box-shadow: 10px 5px rgba(0,0,0,0.1);
      cursor: pointer;
    }

    .repo-item {
      margin: 15px 30px;
      height: 150px;
      background: rgba(200, 200, 200, 0.1);
      padding: 15px;
      color: dimgray;
      border-radius: 1em;
      box-shadow: 10px 5px rgba(0,0,0,0.1);

      .repo {
        font-weight: bold;
        font-size: medium;
      }
      .revision {
        margin-top: 10px;
        white-space: pre-wrap;
        word-break: break-all;
      }
    }

    .repo-sm-item {
      margin: 15px 30px;
      height: 50px;
      background: rgba(200, 200, 200, 0.1);
      padding: 15px;
      color: dimgray;
      border-radius: 1em;
      box-shadow: 10px 5px rgba(0,0,0,0.1);
      cursor: pointer;
      .repo {
        font-weight: bold;
      }
    }

    .drillUpBtn {
      position: absolute;
      float: right;
      top: 40px;
      right: 70px;
    }

    .detail-grid {
      height: 600px;
      border: 1px solid rgb(212,212,212);
      .tooltip-inner {
        white-space: pre-line;
        min-width: 150px;
        min-height: 24px;
      }
    }

    .revision-title {
      font-weight: bold;
      font-size: medium;
      margin-bottom: 0;
    }

    .footer {
      padding: 15px;
      margin-bottom: 20px;
      hr {
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }
  }
}