<div ng-controller="revisionCtrl" class="container-fluid">
   <div class="row">
       <div class="col-lg-8 col-lg-offset-2">
           <div class="panel-body">

           </div>
       </div>
   </div>
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <div class="panel-body">
                <div class="display-card">
                    <div high-chart-renderer chart-options="trendChartConf"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <div class="panel-body">
                <div ng-grid-x="detailGridOptions" style="height: 600px; border: 1px solid rgb(212,212,212);"></div>
                <!--<div ng-grid="detailGridOptions" style="height: 600px; border: 1px solid rgb(212,212,212);"></div>-->
            </div>
        </div>
    </div>
</div>