<div ng-controller="revisionsCtrl" class="container">
   <div class="row">
       <div class="col-lg-6">
           <h3>{{selectedRepo.shortname}} <small>{{selectedRepo.product}}</small></h3>
       </div>
       <div class="col-lg-6">
           <h3 class="pull-right">
               Latest &nbsp - &nbsp
               <i class="fa fa-times bg-danger" tooltip-placement='bottom' tooltip='Error'>{{selectedRevision.errorCount}}</i>
               <i class="fa fa-warning bg-warning" tooltip-placement='bottom' tooltip='Warning'>{{selectedRevision.warningCount}}</i>
           </h3>
       </div>
   </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel-body">
                <div class="display-card">
                    <div high-chart-renderer chart-options="trendChartConf"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div ui-view></div>
        </div>
    </div>
</div>