<div ng-controller="beacon.settingsCtrl" class="container">
    <div class="row" style="margin-top: 30px; height: 700px">
        <div class="col-lg-12">
            <tabset justified="true">
                <tab heading="Predefined Groups">
                    <div ui-view="predefined"></div>
                    <!--<div style="margin-top: 30px">-->
                        <!--<accordion close-others="false">-->
                            <!--<accordion-group heading="{{group.name}}" is-open="group.isOpen" ng-repeat="group in predefinedGroupsList">-->
                                <!--<div class='col-xs-12 col-sm-6 col-md-6 col-lg-4' ng-repeat="repository in group.repositories">-->
                                    <!--<div class="repo-item">-->
                                        <!--<div class="repo">{{repository.shortname}}</div>-->
                                        <!--<div class="revision">{{"Last revision:" + repository.lastRevision.revision}}</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</accordion-group>-->
                        <!--</accordion>-->
                    <!--</div>-->
                </tab>
                <tab heading="Customize Groups">
                    <div ui-view="customized"></div>
                    <!--<div style="margin-top: 30px">-->
                        <!--<div class="row">-->
                            <!--<div class="col-lg-12">-->
                                <!--<div class="pull-right">-->
                                    <!--<span class="widget-icon" ng-hide="configEdit" ng-click="configEdit=!configEdit">-->
                                    <!--<i class="btn btn-primary fa fa-edit" title="edit"></i></span>-->
                                    <!--<span class="widget-icon" ng-show="configEdit" ng-click="configEdit=!configEdit">-->
                                    <!--<i class="btn btn-primary fa fa-save" title="save"></i></span>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div ng-hide="configEdit" class="row" style="margin-top: 20px">-->
                            <!--<accordion close-others="false">-->
                                <!--<accordion-group heading="{{group.name}}" is-open="group.isOpen" ng-repeat="group in myGroupsList" >-->
                                    <!--<div class='col-xs-12 col-sm-12 col-md-6 col-lg-4' ng-repeat="repository in group.repositories">-->
                                        <!--<div class="repo-item">-->
                                            <!--<div class="repo">{{repository.shortname}}</div>-->
                                            <!--<div class="revision">{{"Last revision:" + repository.lastRevision.revision}}</div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</accordion-group>-->
                            <!--</accordion>-->
                        <!--</div>-->
                        <!--<div ng-show="configEdit" class="row" style="margin-top: 20px">-->
                            <!--<div class="col-lg-4">-->
                                <!--<accordion close-others="false">-->
                                    <!--<accordion-group heading="{{group.name}}" is-open="group.isOpen" ng-repeat="group in predefinedGroupsList"-->
                                                     <!--data-jqyoui-options="{revert:'invalid',helper:'clone'}"-->
                                                     <!--data-drag="true"-->
                                                     <!--jqyoui-draggable="{placeholder:'keep',animate:true}">-->
                                        <!--<div ng-repeat="repository in group.repositories">-->
                                            <!--<div class="repo-sm-item"-->
                                                 <!--data-jqyoui-options="{revert:'invalid',helper:'clone'}"-->
                                                 <!--data-drag="true"-->
                                                 <!--jqyoui-draggable="{placeholder:'keep',animate:true}">-->
                                                <!--<div class="repo">{{repository.shortname}}</div>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</accordion-group>-->
                                <!--</accordion>-->
                            <!--</div>-->
                            <!--<div class="col-lg-8">-->
                                <!--<div class="thumbnail panel-body"  style="height:600px;width:100%" >-->
                                    <!--<div class="input-group">-->
                                        <!--<input ng-model="groupToAdd.name" type="text" class="form-control" placeholder="Group Name"  required>-->
                                        <!--<span ng-click="addNewGroup()" class="input-group-addon">-->
                                            <!--<i class="btn btn-xs fa fa-plus" title="Add new group"></i>-->
                                        <!--</span>-->
                                    <!--</div>-->
                                    <!--<div style="margin-top: 5px" ng-show="errors">-->
                                        <!--<div ng-repeat="error in errors">-->
                                            <!--<alert type="{{error.type}}" close="dismissError()">{{error.msg}}</alert>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <!--<div style="margin-top: 20px">-->
                                        <!--<accordion close-others="false">-->
                                            <!--<accordion-group heading="{{group.name}}"-->
                                                             <!--ng-repeat="group in myGroupsList"-->
                                                             <!--is-open="group.isOpen"-->
                                                             <!--data-drop="true"-->
                                                             <!--jqyoui-droppable="{onDrop:'addRepositories(item)'}">-->
                                                <!--<div class='col-xs-12 col-sm-12 col-md-6 col-lg-6' ng-repeat="repository in group.repositories">-->
                                                    <!--<div class="repo-sm-item in-my-groups"-->
                                                         <!--data-jqyoui-options ="{revert:'invalid'}"-->
                                                         <!--data-drag="true"-->
                                                         <!--jqyoui-draggable ="{animate:true}">-->
                                                        <!--<div class="repo in-my-groups">{{repository.shortname}}</div>-->
                                                    <!--</div>-->
                                                <!--</div>-->
                                            <!--</accordion-group>-->
                                        <!--</accordion>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                </tab>
            </tabset>
        </div>
    </div>
</div>