<div ng-controller="beacon.settingsCtrl" class="container">
    <div class="row" style="margin-top: 30px; height: 700px">
        <div class="col-lg-12">
            <tabset justified="true">
                <tab heading="Predefined Groups">
                    <div ui-view="predefined" class="scroll-box panel-body" style="border:1px solid #ddd; height: 650px; border-top: none"></div>
                </tab>
                <tab heading="Customize Groups">
                    <div ui-view="customized" class="scroll-box panel-body" style="border:1px solid #ddd; height: 650px; border-top: none"></div>
                </tab>
            </tabset>
        </div>
    </div>
</div>