.app-item {
    margin: 15px 30px;
    height: 200px;
    width: calc(100% - 60px);
    background: lightskyblue;
    padding: 15px;
    color: dimgray;
    border-radius: 1em;
    box-shadow: 10px 5px lightgrey;
    cursor: pointer;
}

.app-item i{
    line-height: 100%;
    font-size: 6em;
    color : dimgrey;
}

.app-item label{
    font-size: 2em;
    line-height: 200%;
    font-weight: bold;
    color : dimgrey;
}

.app-item version {
    font-weight: normal;
    font-size: 1.5em;
    color : dimgrey;
    top: -1.5em;
    position: relative;
}

.app-item desc {
    font-weight: normal;
    font-size: 14px;
    color : dimgrey;
    float: right;
    position: relative;
    top: -1.5em;
    word-break: break-all;
}